@model IEnumerable<Service>
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Services List</h2>
        @*    </div>
        <div class="col-6">
        <a asp-action="EditPrice" asp-asp-controller="Service" class="btn btn-primary float-end">Create New Role</a>
        </div>*@
    </div>
    <div class="p-4 border rounded">
        @if (Model.Any())
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Id
                    </th>
                    <th>
                        Service Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.ServiceName
                        </td>
                        <td>
                            @item.Price€
                        </td>
                        <th>
                            @if (ViewContext.HttpContext.User.IsInRole("Manager") || ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <div class="text-center">
                                    <form asp-action="EditPrice" asp-route-id="@item.Id">
                                        <a asp-action="EditPrice" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                            Edit Price
                                        </a>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="text-center">
                                </div>
                            }

                        </th>
                    </tr>
                }
            </table>
        }
    </div>
