@model IEnumerable<ServiceViewModel>

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Services List</h2>
    </div>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <div class="col-6">
            <a asp-action="Upsert" asp-asp-controller="Service" class="btn btn-primary float-end">Create New Service</a>
        </div>
    }
    <div class="p-4 border rounded">
        @if (Model.Any())
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Id
                    </th>
                    <th>
                        Service Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Manager
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.ServiceName
                        </td>
                        <td>
                            @item.Price€
                        </td>
                        <td>
                            @item.ManagerName
                        </td>
                        <th>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <div class="text-center">
                                    <form asp-action="Delete" asp-route-serviceId="@item.Id">
                                        <a asp-action="EditPrice" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                            Edit Price
                                        </a>
                                        <a asp-action="AssignManager" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                            Assign Manager
                                        </a>
                                        <button type="submit" onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            }
                            else if (ViewContext.HttpContext.User.IsInRole("Manager"))
                            {
                                <div class="text-center">
                                    <form asp-action="EditPrice" asp-route-serviceId="@item.Id">
                                        <a asp-action="EditPrice" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor:pointer">
                                            Edit Price
                                        </a>
                                        <button type="submit" onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="text-center">
                                </div>
                            }

                        </th>
                    </tr>
                }
            </table>
        }
    </div>
